<h2 class="medium ui center aligned icon header">
  <i class="circular whatsapp icon megawhite"></i>
  <div class = "megawhite">Say Something</div>
</h2>

<div class="ui grid">
  <div class="twelve wide column">
    
    <div class="ui fluid card">
        <div class="content" id="message-container">
            <div class="header megawhite">Chatroom Messages: </div>
                <%= render @messages %>
            </div>
        <div class="extra content">  
            <%= form_for(@message, :html => {class: "ui fluid left icon input", role: "form"}, url:message_path, remote: true) do |a| %>

                <%= a.text_field :body, placeholder:"Say something..." %>
                <%= a.button %>
                <i class="terminal icon"></i>
            <% end %>    
        </div>
    </div>

  </div>


  <div class="four wide column">


    <div class="ui fluid card">
        <div class="ui fluid inverted vertical menu">
            <div class="active item">
                Online Users:
            </div>
            <a class="item">
                User1
            </a>
            <a class="item">
                User2
            </a>
        </div>
    </div>

  </div>
</div>