<h2 class="medium ui center aligned icon header">
  <i class="circular whatsapp icon megawhite"></i>
  <div class = "megawhite">Say Something</div>
</h2>

<div class="ui grid">
  <div class="twelve wide column">
    
    <div class="ui fluid card">
        <div class="content">
            <div class="header megawhite">Chatroom Messages: </div>
            <div class="description">
                Molly is a personal assistant living in Paris.
            </div>
        </div>
        <div class="extra content">
            <div class="ui fluid left icon input">
                <input type="text" placeholder="Say something...">
                <i class="terminal icon"></i>
            </div>
        </div>
    </div>

  </div>


  <div class="four wide column">


    <div class="ui fluid card">
        <div class="ui fluid inverted vertical menu">
            <div class="active item">
                Online Users:
            </div>
            <a class="item">
                User1
            </a>
            <a class="item">
                User2
            </a>
        </div>
    </div>

  </div>
</div>